<!DOCTYPE html>
<html>
<head>
  <title>Myappdigital</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<%= render 'layouts/navigation' %>
	<div class="container wrapp">
		<div class="row">
			<%= render 'layouts/messages' %>
			<%= yield %>
		</div>
	</div>
<%= render 'layouts/footer' %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
